#add-player-to-serie{
    display: flex;
    flex-direction: column;
    align-items: center;

    .add-player-header{
        width: 100%;
        text-align: center;
    }

    .player-search{
        width: 100%;
        display: flex;
        justify-content: center;

        input{
            height: 28px;
            width: 60%;
            font-family: inherit;
        }
    }

    .players-to-add{
        width: 90%;
    }
}