@import "variables";

#add-match{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input{
        height: $input-height;
        font-family: inherit;
    }

    .add-date{
        width: 100%;
        margin: 10px 0;

        h3{
            width: 100%;
            text-align: left;
        }

        .date-picker-container{
            position: relative;
            width: 100%;
            background-color: white;
            border: none;
            border-radius: 4px;
            -webkit-box-shadow: $box-shadow; 
            box-shadow: $box-shadow;

            .date-picker{
                width: 86%;
                margin-left: 10%;
                height: 55px;
                text-align: left;
                background-color: white;
                border: none;
                -webkit-appearance: none;
            }
            .fa-chevron-down{
                position: absolute;
                right: 12px;
                top: calc(50% - 8px);
            }
            .fa-calendar{
                position: absolute;
                left: 12px;
                font-size: 24px;
                top: calc(50% - 14px);
                color: rgb(29, 29, 29);
            }
    
            .date-picker::-webkit-datetime-edit {
                padding: 8px;
                font-weight: 500;
                font-size: 14px;
            }
            .date-picker::-webkit-calendar-picker-indicator { 
                position: absolute;
                left: -12px;
                font-size: 30px;
                width: calc(100% - 30px);
                height: 90%;
                opacity: 0;
            }
        }

    }

    .add-teams{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .add-team{
            margin: 10px 0;
            width: 46%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3{
                margin: 4px 0;
            }

            .player-select-container{

                .select-wrapper{
                    position: relative;
                        
                    select{
                        width: 100%;
                        height: $match-select-height;
                        margin: 4px 0;
                        padding: 12px;
                        font-family: inherit;
                        background-color: white;
                        border: none;
                        border-radius: 4px;
                        -webkit-box-shadow: $box-shadow; 
                        box-shadow: $box-shadow;
                        //Remove default arrow
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }
                    .fa-chevron-down{
                        position: absolute;
                        right: 12px;
                        top: calc(50% - 8px);
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .player-error{
        width: 100%;
        color: red;
        font-size: 14px;
    }

    .add-games{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        h4{
            margin: 0 0 8px 0;
        }

        .add-game{
            margin: 10px 0;
            width: 46%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .game-select-container{
                position: relative;
    
                select{
                    width: 100%;
                    height: $match-select-height;
                    border: none;
                    border-radius: 4px;
                    background-color: white;
                    margin: 4px 0;
                    padding: 12px;
                    font-family: inherit;
                    -webkit-box-shadow: $box-shadow; 
                    box-shadow: $box-shadow;
                    //Remove default arrow
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                .fa-chevron-down{
                    position: absolute;
                    right: 12px;
                    top: calc(50% - 8px);
                    pointer-events: none;
                }
            }
        }
    }

    .game-error{
        width: 100%;
        color: red;
        font-size: 14px;
    }

    .submit-button-container {
        width: 100%;
        text-align: center;
        position: relative;
        margin-top: 24px;

        button {
            height: 60px;
            width: 100%;
            background-color: rgb(2, 172, 2);
            border: none;
            border-radius: 30px;
            -webkit-box-shadow: $box-shadow; 
            box-shadow: 0px 2px 5px 0px #7a7a7a;
        }
        
        .ball-container{
            height: 60px;
            width: 100%;
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            pointer-events: none;
            justify-content: center;
        }
        span{
            color: white;
            font-size: 18px;
            font-weight: 700;
            margin-right: 12px;
        }
    }
}
