@import "variables";

#add-match{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid $blue-color;

    .add-team{
        padding: 10px;
        width: calc(50% - 20px);
    }

    .add-team-one{
        display: flex;
        justify-content: flex-start;

        .set-select-container{
            width: 50%;
            text-align: right;
        }
    }

    .add-team-two{
        display: flex;
        justify-content: flex-end;

        .set-select-container{
            width: 50%;
            text-align: left;
        }
        .player-select-container{
            text-align: right;
        }
    }

    .submit-button-container {
        width: 100%;
        text-align: center;
        padding: 20px 0;

        button {
            height: 30px;
            background-color: green;
            color: white;
            font-family: inherit;
            border: none;
            border-radius: 3px;
            padding: 0 10px;
            font-weight: 600;
        }
    }
}
