@import "variables";

#add-match{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px #C4C4C4; 
    box-shadow: 0px 0px 3px 0px #C4C4C4;

    input{
        height: $input-height;
        font-family: inherit;
    }

    .add-date{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .add-teams{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .add-team{
            margin: 10px;
            padding: 8px 0;
            width: calc(50% - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(206, 206, 206);
            border-radius: 4px;

            h4{
                margin: 4px 0;
                font-weight: 700;
                text-decoration: underline;
            }

            .game-select-container{
                text-align: center;

                select{
                    height: $input-height;
                    margin: 4px 0;
                    font-family: inherit;
                }
            }
            .player-select-container{
                text-align: center;

                select{
                    height: $input-height;
                    margin: 4px 0;
                    font-family: inherit;
                }
            }
        }
    }

    .submit-button-container {
        width: 100%;
        text-align: center;
        padding: 8px 0;

        button {
            height: 30px;
            background-color: green;
            color: white;
            font-family: inherit;
            border: none;
            border-radius: 3px;
            padding: 0 10px;
            font-weight: 600;
        }
    }
}
