@import "variables";

#home-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 20px 0;
    position: relative;

    button {
        height: 60px;
        width: 335px;
        background-color: $blue-color;
        border: none;
        border-radius: 30px;
        -webkit-box-shadow: $box-shadow; 
        box-shadow: 0px 2px 5px 0px #7a7a7a;
        cursor: pointer;
    }
    button:focus {
        outline: none;
    }
    
    .content-container{
        height: 60px;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        pointer-events: none;
        justify-content: center;
        span{
            color: white;
            font-size: 18px;
            font-weight: 700;
            margin-right: 12px;
        }
    }
}