@import "variables";

.navbar{
    width: 375px;
    height: 70px;
    background-color: white;
    color: black;
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;
}