@import "variables";

.navbar{
    width: 375px;
    height: 70px;
    background-color: white;
    color: black;
    display: flex;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #dbdbdb;
    // -webkit-box-shadow: $box-shadow; 
    // box-shadow: $box-shadow;
}