@import "variables";

.page-header{
    width: auto;
    margin: 0 0 20px -16px;
    width: calc(100% + 32px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header-height;
    background-color: white;
    position: relative;

    h2{
        margin: 0;
    }

    i{
        position: absolute;
        right: 20px;
    }

}