@import "variables";

.page-header{
    width: auto;
    margin: 0 0 32px -16px;
    width: calc(100% + 32px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 12px;
    color: white;
    background-color: $main-color;
    position: relative;
    text-transform: uppercase;
    box-shadow: 0px 2px 20px 0px #C4C4C4;
    -webkit-box-shadow: $box-shadow;

    img{
        height: 60px;
    }

    h2{
        margin: 0;
        font-size: 1.4em;
    }

    i{
        position: absolute;
        right: 20px;
    }

}