@import "variables";

#single-standing{
    font-size: 13px;
    position: relative;

    .standing{
        color: $greyed-font;
        width: 24px;
        padding-left: 4px;
    }
    .profile-image{
        width: 46px;
        // display: flex;

        .img-container{
            height: 46px;

            img{
                height: 100%;
            }
        }
    }
    .player{
        color: black;
        font-weight: 600;
        
        span{
            max-width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .games-played{
        width: 30px;
        color: $greyed-font;
    }
    .games-won{
        width: 30px;
        color: $greyed-font;
    }
    .game{
        width: 30px;
        color: $greyed-font;
    }
    .points{
        width: 32px;
        color: black;
    }

    .shadow{
        position: absolute;
        // top: 0;
        left: 0;
        height: 48px;
        width: 100%;
        border-radius: 8px;
        -webkit-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
    }

}