@import "variables";

#single-standing{
    height: 40px;

    .standing{
        color: $greyed-font;
    }
    .hot-streak{
        width: 25px;

        i{
            color: rgb(231, 50, 4);
        }
    }
    .player{
        color: black;
        font-weight: 600;
    }
    .games-played{
        width: 30px;
        color: $greyed-font;
    }
    .games-won{
        width: 30px;
        color: $greyed-font;
    }
    .game{
        width: 30px;
        color: $greyed-font;
    }
    .points{
        width: 32px;
        color: black;
    }

}