@import "variables";

#single-standing{
    height: 40px;

    .standing{
        color: $greyed-font;
    }
    .hot-streak{

    }
    .player{
        color: black;
        font-weight: 600;
    }
    .games-played{
        width: 30px;
        color: $greyed-font;
    }
    .games-won{
        width: 30px;
        color: $greyed-font;
    }
    .set{
        width: 30px;
        color: $greyed-font;
    }
    .points{
        width: 30px;
        color: black;
    }

}