@import "variables";

#add-match-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    .register-match{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h3{
            margin-right: 10px;
        }

        .fa-times-circle{
            font-size: 30px;
        }

        .button-red{
            color: red;
            transition: 0.3s;
        }
        .button-green{
            color: green;
            transform: rotate(45deg);
            transition: 0.3s;
        }
    }
}

#played-matches{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .single-played-match{
        margin-bottom: 12px;
    }
}