@import "variables";

#serie{
    width: auto;
    padding: 0 10px;
    margin: 20px auto 50px auto;
    width: calc(100% - 20px);
    
    .serie-name-section{
        width: calc(100% + 20px);
        margin-left: -10px;
        display: flex;
        justify-content: row;
        flex-wrap: wrap;

        .serie-name-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 16px;
            position: relative;
            cursor: default;

            .serie-name{
                text-align: center;
                margin: 0;
            }

            .settings{
                position: absolute;
                right: 16px;
                height: 20px;
                cursor: pointer;

                img{
                    height: 100%;
                }
            }
        }
    }

    #rendered-component{

        .serie-button-container{
            width: auto;
            height: 50px;
            display: flex;
            justify-content: space-between;
            margin: 20px 0 8px 0;

            .serie-button{
                height: 36px;
                width: 48%;
                background-color: white;
                border: 1px solid $blue-color;
                border-radius: 2px;
                cursor: pointer;
                font-weight: 600;
                font-family: inherit;
            }
            .serie-button:focus {
                outline: none;
                box-shadow: none;
            }
            .serie-button:hover{
                background-color: $blue-color;
                color: white;
            }
            .serie-button-active{
                background-color: $blue-color;
                color: white;
            }
            .active{
                background-color: $blue-color;
                color: white;
            }
        }
        .back-to-serie{
            width: 100%;
            padding: 0 8px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            span{
                margin-left: 4px;
                font-size: 12px;
                // color: $greyed-font;
            }
            i{
                font-size: 14px;
            }
        }
    }
}