@import "variables";

#serie{
    width: 100%;
    
    .serie-name-section{
        width: 100%;
        margin: 0 0 20px 0;
        min-height: 28px;
        display: flex;
        justify-content: row;
        flex-wrap: wrap;

        .serie-name-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            cursor: default;

            .serie-name{
                text-align: center;
                margin: 0;
                // font-size: 1.2em;
            }

            .star{
                position: relative;
                width: 40px;
                height: inherit;

                .empty-star{
                    top: calc(50% - 8px);
                    left: 0;
                    margin-left: 12px;
                    position: absolute;
                }
                .filled-star{
                    top: calc(50% - 8px);
                    left: 0;
                    margin-left: 12px;
                    position: absolute;
                    color: rgb(240, 240, 2);
                }
            }

            .settings{
                position: absolute;
                right: 0;
                height: 30px;
                width: 40px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer;

                img{
                    height: 100%;
                }
                i{
                    color: rgb(75, 75, 75);
                }
            }
        }
    }

    #rendered-component{
        margin: 0 0 32px 0;
        padding: 0 4px;
        // border: thin solid rgb(199, 199, 199);
        border-top: none;
        border-radius: 4px;
        overflow: hidden;

        .serie-button-container{
            margin: 0 0 8px -5px;
            height: 36px;
            width: calc(100% + 10px);
            border-bottom: thin solid  rgb(199, 199, 199);
            position: relative;

            .serie-button-container-inner{
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                .serie-button{
                    height: 37px;
                    width: 46%;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    background-color: #e9e9e9;
                    border: thin solid  rgb(199, 199, 199);
                    border-bottom: none;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 10px;
                    font-family: inherit;
                    text-transform: uppercase;

                }
                .serie-button:focus {
                    outline: none;
                    box-shadow: none;
                    text-decoration: none;
                }
                .serie-button-active{
                    text-decoration: none;
                }
                .active{
                    background-color: white;
                    color: black;
                    border-bottom: thin solid white;
                    text-decoration: none;
                }
            }
        }
        .back-to-serie{
            width: 100%;
            padding: 0 8px;
            margin: 8px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-transform: uppercase;
            
            span{
                font-size: 12px;
                font-weight: 600;
            }
            i{
                font-size: 14px;
                margin-right: 12px;
            }
        }
    }
}