@import "variables";

#serie{
    width: auto ;
    padding: 0 20px;
    margin: 0px auto;
    width: calc(100% - 40px);
    
    .serie-header-section{
        width: 100%;
        display: flex;
        justify-content: row;
        flex-wrap: wrap;

        .serie-header-container{
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            .serie-header{
                text-align: center;
            }
        }

        .serie-button-container{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;

            .serie-button{
                height: 40px;
                width: 45%;
                background-color: white;
                border: 1px solid $blue-color;
                border-radius: 3px;
                cursor: pointer;
                font-weight: 600;
                font-family: inherit;
            }
            .serie-button:focus {
                outline: none;
                box-shadow: none;
            }
            .serie-button:hover{
                background-color: $blue-color;
                color: white;
            }
            .serie-button-active{
                background-color: $blue-color;
                color: white;
            }
        }
    }

    #rendered-component{
        margin-top: 40px;
    }
}