@import "variables";

#series{

    .serie-header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $header-height;
        background-color: white;

        h2{
            margin: 0;
        }

    }


}