@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
footer {
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#serie {
  width: auto;
  padding: 0 20px;
  margin: 0px auto;
  width: calc(100% - 40px);
}

#serie .serie-header-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#serie .serie-header-section .serie-header-container {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#serie .serie-header-section .serie-header-container .serie-header {
  text-align: center;
}

#serie .serie-header-section .serie-button-container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#serie .serie-header-section .serie-button-container .serie-button {
  height: 40px;
  background-color: white;
  border: 1px solid #12326e;
  border-radius: 3px;
  padding: 0 40px;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
}

#serie .serie-header-section .serie-button-container .serie-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#serie .serie-header-section .serie-button-container .serie-button:hover {
  background-color: #12326e;
  color: white;
}

#serie .serie-header-section .serie-button-container .serie-button-active {
  background-color: #12326e;
  color: white;
}

#serie #rendered-component {
  margin-top: 40px;
}

#standings {
  width: 100%;
  margin-bottom: 50px;
}

#standings table {
  width: 100%;
  border: none;
  border-spacing: none;
  border-collapse: collapse;
  font-weight: bold;
  font-size: 14px;
}

#standings table thead {
  color: white;
  background-color: #12326e;
  font-size: 15px;
}

#standings table thead tr {
  height: 40px;
}

#standings table thead tr th {
  text-align: left;
}

#standings table thead tr th:nth-child(1) {
  text-align: center;
}

#standings table thead tr th:nth-child(2) {
  text-align: center;
}

#standings table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

#standings table tbody tr td:nth-child(1) {
  text-align: center;
}

#single-standing {
  height: 40px;
}

#single-standing .standing {
  color: #929292;
}

#single-standing .hot-streak {
  width: 25px;
}

#single-standing .hot-streak i {
  color: #e73204;
}

#single-standing .player {
  color: black;
  font-weight: 600;
}

#single-standing .games-played {
  width: 30px;
  color: #929292;
}

#single-standing .games-won {
  width: 30px;
  color: #929292;
}

#single-standing .game {
  width: 30px;
  color: #929292;
}

#single-standing .points {
  width: 30px;
  color: black;
}

#add-match-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#add-match-container .register-match {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#add-match-container .register-match h3 {
  margin-right: 10px;
}

#add-match-container .register-match .fa-times-circle {
  font-size: 30px;
}

#add-match-container .register-match .button-red {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#add-match-container .register-match .button-green {
  color: green;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#played-matches {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#singlePlayedMatch {
  width: 335px;
  margin-right: 8px;
  padding: 8px 0 16px 0;
  -webkit-box-shadow: 0px 0px 3px 0px #C4C4C4;
  box-shadow: 0px 0px 3px 0px #C4C4C4;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

#singlePlayedMatch .serie-name {
  width: 100%;
  text-align: center;
  width: inherit;
  font-size: 20px;
}

#singlePlayedMatch .date {
  width: 100%;
  padding: 6px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

#singlePlayedMatch .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 66px;
  width: 100%;
}

#singlePlayedMatch .result .team-result {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 40px;
  font-weight: 600;
}

#singlePlayedMatch .result .team-result:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#singlePlayedMatch .result .result-separator {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 40px;
  width: 60%;
}

#singlePlayedMatch .teams {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#singlePlayedMatch .teams .team {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#singlePlayedMatch .teams .team .team-players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#singlePlayedMatch .teams .team .team-players .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#singlePlayedMatch .teams .team .team-players .player .player-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 12px;
}

#singlePlayedMatch .teams .team .team-players .player .player-image img {
  height: 44px;
}

#singlePlayedMatch .teams .team .team-players .player .player-info {
  font-size: 10px;
  font-weight: 400;
}

#singlePlayedMatch .teams .team .team-players .player .standing {
  position: absolute;
  bottom: 16px;
  right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6041FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 800;
}

#singlePlayedMatch .teams .team .team-one-players {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#singlePlayedMatch .teams .team .team-two-players {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#singlePlayedMatch .teams .team .team-score {
  font-size: 22px;
  font-weight: 600;
  color: #12326e;
}

#add-match {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #12326e;
}

#add-match .add-date {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

#add-match .add-team {
  padding: 10px;
  width: calc(50% - 20px);
}

#add-match .add-team-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#add-match .add-team-one .game-select-container {
  width: 50%;
  text-align: right;
}

#add-match .add-team-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#add-match .add-team-two .game-select-container {
  width: 50%;
  text-align: left;
}

#add-match .add-team-two .player-select-container {
  text-align: right;
}

#add-match .submit-button-container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

#add-match .submit-button-container button {
  height: 30px;
  background-color: green;
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-weight: 600;
}

#home {
  width: calc(100%-40px);
  min-height: 100vh;
  padding: 0 20px;
}

#last-matches-container {
  margin: 20px 0;
}

#last-matches-container .last-matches-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#last-matches-container .last-matches-header h2 {
  display: inline-block;
  margin: 0.4em 0;
}

#last-matches-container .last-matches {
  min-width: 355px;
  padding: 12px 0 12px 20px;
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: scroll;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  max-width: 500px;
  background-color: #FAFAFA;
}
/*# sourceMappingURL=main.css.map */